/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

*,
*::after,
*::before{
	box-sizing: border-box;
}

img{
	display: block;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #434455;
	background-color: var(--white);
}

:root{
	--iris: #4D5AE5;
	--navyblue: #2E2F42;
	--ocean: #404BBF;
	--slate: #434455;
	--white: #FFF;
	--cloud: #F4F4FD;
	--cornflower: #E7E9FC;
	--lightslate: #8E8F99;
	--navyblue-modal: rgba(46, 47, 66, 0.40);
}

.container {
	max-width: 428px;
	margin: 0 auto;
	padding: 0 16px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.link {
	text-decoration: none;
}

.list {
	list-style: none
}

button {
	font-family: inherit;
	cursor: pointer;
}

/**
	|============================
	| HEADER
	|============================
*/
/* 
.header{
	border-bottom: 1px solid #e7e9fc;
	background: var(--white);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-content{
	display: flex;
	align-items: center;
}


.logo{
	font-family: 'Raleway', sans-serif;
	color: var(--iris);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	margin-right: 76px
}


.logo-span{
	color: var(--navyblue);
}


.nav-list{
	display: flex;
	gap: 40px;
}


.nav{
	display: flex;
	align-items: center;
}

.nav-item{
	position: relative;
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
	padding: 24px 0;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover,
.nav-item:focus{
	color: #404bbf;
}
.nav-item:active{
	color: var(--ocean);
}
.nav-item::after{
	position: absolute;
	color: var(--ocean);
	content: "";
	left: 0;
	opacity: 0;
	bottom: -1px;
	height: 4px;
	background-color: var(--ocean);
	border-radius: 2px;
	width: 100%;
}
.nav-item:hover::after,
.nav-item:focus::after,
.nav-item.current::after {
	opacity: 1;
}

.nav-item.current{
	color: #404bbf;
}

.address{
	font-style: normal;
	margin-left: 332px;
}
.address-list{
	display: flex;
	gap: 40px;
}

.address-item{
	color: var(--slate);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.32px;transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus{
	color: #404bbf;
}
.address-item:active{
	color: var(--ocean);
} */

.header {
	padding: 25px 0;
	border-bottom: 1px solid #e7e9fc;
	background: var(--white);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-content {
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
	align-items: center;
}
.logo {
	color: var(--iris);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}
.logo-span {
	color: var(--navyblue);
}




/**
	|============================
	| MAIN
	|============================
*/

/* .intro{
	margin: 0 auto;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)),
		url(../images/hero-image.jpg);
	padding: 188px 0;
	max-width: 1440px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.intro-title{
	color: var(--white);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	font-weight: 700;
	line-height: 107.143%;
	letter-spacing: 1.12px;
	max-width: 496px;
	margin: 0 auto;
	margin-bottom: 48px;
}
.intro-button{
	display: block;
	color: var(--white);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.64px;
	background-color: var(--iris);
	cursor: pointer;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	margin: 0 auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.intro-button:hover,
.intro-button:focus{
	background-color: var(--ocean);
}




.advantages-title{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 72px;
}
.advantages{
	padding: 120px 0;
}
.advantages-subtitle{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	margin-bottom: 8px;
}
.advantages-text{
	color: var(--slate);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.32px;
}
.advantages-list{
	display: flex;
	gap: 24px;
}
.advantages-item{
	width: calc((100% - 72px) / 4);
}
.advantages-item-content{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--cloud);
	padding: 24px 100px;
	margin-bottom: 8px;
	border-radius: 4px;
}




.about{
	padding-bottom: 120px;
}
.about-list{
	display: flex;
	gap: 24px;
}
.about-item{
	width: calc((100% - 48px) / 3);
}
.about-title{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 72px;
}







.team{
	background-color: #F4F4FD;
	padding: 120px 0;
}
.team-list{
	display: flex;
	gap: 24px;
}
.team-item{
	background-color: #FFFFFF;
	width: calc((100% - 72px) / 4);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-info{
	padding: 32px 0;
}
.team-info-list{
	display: flex;
	justify-content: center;
	gap: 24px;
}
.team-info-list-item {
	height: 40px;
	width: 40px;
}
.team-icon-social{
	background-color: var(--iris);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 100%;
}
.team-icon-social:hover,
.team-icon-social:focus{
	background-color: #404bbf;
}
.team-icon {
	width: 16px;
	height: 16px;
	fill: var(--cloud);
}
.team-title{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 72px;
}
.team-subtitle {
	color: var(--navyblue);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	margin-bottom: 8px;
	text-align: center;
}
.team-text {
	color: var(--slate);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.32px;
	text-align: center;
	margin-bottom: 8px;
}










.customers{
	padding-top: 120px;
	padding-bottom: 120px;
}
.customers-item{
	width: calc((100% - 120px) / 6);
	height: 88px;
}
.customers-list {
	display: flex;
	gap: 24px;
}
.customers-icon{
	fill: currentColor;
}
.customers-title {
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 72px;
}
.customers-link{
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--lightslate);
	width: 100%;
	height: 100%;
	border: 1px solid #8E8F99;
	border-radius: 4px;
	display: flex;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus{
	border-color: #404bbf;
	color: #404bbf;
} */

.intro-content{
	display: flex;
	flex-direction: column;
	gap: 72px;
}
.intro {
	/* width: 428px;
	height: 432px; */
	margin: 0 auto;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)),
		url(../images/hero-bg/mobile-hero-bg.jpg);
	background-size: cover;
	padding: 112px 0;
	background-repeat: no-repeat;
	background-position: center;
}


.intro-title {
	color: var(--white, #FFF);
	text-align: center;
	margin: 0 auto;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	max-width: 320px;
	height: 80px;
}

.intro-button {
	display: block;
	color: var(--white);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.64px;
	background-color: var(--iris);
	cursor: pointer;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	margin: 0 auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover,
.intro-button:focus {
	background-color: var(--ocean);
}







.advantages {
	background: var(--white);
	padding-top: 96px;
	padding-bottom: 96px;
}



.advantages-title {
	color: var(--navyblue);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.advantages-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}



.advantages-subtitle {
	color: var(--navyblue);
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.advantages-text {
	color: var(--slate);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
}







.team {
	background-color: #F4F4FD;
	padding-top: 96px;
	padding-bottom: 96px;
}

.team-title {
	color: var(--navyblue, #2E2F42);
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

.team-item {
	width: 264px;
	background-color: var(--white);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
			0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-image {}

.team-subtitle {
	color: var(--navyblue);
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.4px;
	margin-bottom: 8px;
}

.team-text {
	color: var(--slate);
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	margin-bottom: 8px;
}

.team-info {
	padding: 32px 0;
}

.team-info-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-info-list-item {
	height: 40px;
	width: 40px;
}

.team-icon-social {
	background-color: var(--iris);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 100%;
}

.team-icon-social:hover,
.team-icon-social:focus {
	background-color: #404bbf;
}

.team-icon {
	width: 16px;
	height: 16px;
	fill: var(--cloud);
}






.customers {
	padding-top: 96px;
	padding-bottom: 96px;
}

.customers-item {
	width: calc((100% - 16px) / 2);
	height: 88px;
}

.customers-list {
	display: flex;
	flex-wrap: wrap;
	gap: 72px 16px;
}

.customers-icon {
	fill: currentColor;
}

.customers-title {
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 72px;
}

.customers-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--lightslate);
	width: 100%;
	height: 100%;
	border: 1px solid #8E8F99;
	border-radius: 4px;
	display: flex;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
	border-color: #404bbf;
	color: #404bbf;
}




/**
	|============================
	| FOOTER
	|============================
*/
/* 



.footer{
	background-color: var(--navyblue);
	padding: 100px 0;
}
.footer-content{
	display: flex;
	align-items: baseline;
}
.footer-logo{
	display: inline-block;
	margin-bottom: 16px;
	color: var(--iris);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-logo-span{
	color: #f4f4fd
}
.footer-text{
	color: var(--cloud);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	max-width: 264px;
}
.footer-content-text{
	margin-right: 120px;
}




.footer-social-text{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white);
	margin-bottom: 16px;
}
.footer-social-list {
	display: flex;
	gap: 16px;
}
.footer-social-item {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 40px;
	height: 40px;
}
.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus{
	background-color: #31d0aa;
}
.footer-icon {
	fill: var(--cloud);
}
.footer-content-socials{
	margin-right: 80px;
}


.subscribe-icon{
	margin-left: 16px;
}
.subscribe{}
.subscribe-title{
	margin-bottom: 16px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white);
	margin-bottom: 16px;
}
.subscribe-btn{
	min-width: 165px;
	height: 40px;
	box-shadow: none;
	border: none;
	display: flex;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	color: var(--white);
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	background: var(--iris);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
	background-color: var(--ocean);
}
.subscribe-form{
	display: flex;
	gap: 24px;
}
.subscribe-input{
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	width: 264px;
	height: 40px;
	color: var(--white);
	border-radius: 4px;
	border: 1px solid var(--white);
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}
.subscribe-input::placeholder{
	color: var(--white);
} */

.footer {
	background-color: var(--navyblue);
	padding-top: 96px;
	padding-bottom: 96px;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 72px;
}


.footer-logo {
	display: block;
	text-align: center;
	margin-bottom: 16px;
	color: var(--iris);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-logo-span {
	color: #f4f4fd;
}

.footer-text {
	color: var(--cloud);
	font-size: 16px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	max-width: 268px;
}

.footer-social-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white);
	margin-bottom: 16px;
	text-align: center;
}

.footer-social-list {
	display: flex;
	gap: 16px;
}

.footer-social-item {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 40px;
	height: 40px;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: #31d0aa;
}

.footer-icon {
	fill: var(--cloud);
}





.subscribe-icon {
	margin-left: 16px;
}

.subscribe {
	width: 100%;
}

.subscribe-label{
	width: 100%;
}

.subscribe-title {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white);
	margin-bottom: 16px;
	text-align: center;
}

.subscribe-btn {
	width: 165px;
	height: 40px;
	box-shadow: none;
	border: none;
	display: flex;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	color: var(--white);
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	background: var(--iris);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
	background-color: var(--ocean);
}

.subscribe-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.subscribe-input {
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	width: 100%;
	height: 40px;
	color: var(--white);
	border-radius: 4px;
	border: 1px solid var(--white);
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.subscribe-input::placeholder {
	color: var(--white);
}




/**
	|============================
	| MAIN-PORTFOLIO
	|============================
*/
 



.categories{
	padding-top: 96px;
	padding-bottom: 120px;
}
.categories-list{
	display: flex;
	gap: 24px;
	justify-content: center;
	margin-bottom: 72px;
}
.categories-title{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: center;
}
.categories-button{
	background: var(--cloud);
	color: var(--iris);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.64px;
	cursor: pointer;
	padding: 12px 24px;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-button:hover,
.categories-button:focus{
	color: var(--white);
	background-color: #404BBF;
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}





.gallery-list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}
.gallery-item{
	background: var(--white);
	width: calc((100% - 48px) / 3);
}
.gallery-item-text{
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}
.gallery-subtitle{
	color: var(--navyblue);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px
}
.gallery-text{
	color: var(--slate);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.gallery-link{
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-img{
	position: relative;
	overflow: hidden;
}
.gallery-img-p{
	position: absolute;
	top: 0;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	padding: 40px 32px;
	background-color: #4d5ae5;
	height: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-link:hover .gallery-img-p,
.gallery-link:focus .gallery-img-p{
	transform: translateY(0%);
} 






/**
	|============================
	| MODAL
	|============================
*/


.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
	color: var(--navyblue);
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}
.is-hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal-vindow{
	padding: 72px 24px 24px 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 408px;
	min-height: 584px;

	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close{
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-close:hover,
.modal-close:focus
{
	background-color: #404bbf;
	border: none;
	fill: #ffffff;
}
.modal-icon{
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: var(--navyblue);
}
.modal-label{
	display: block;
	color: var(--lightslate);
	font-family: Roboto;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	margin-bottom: 4px;
}
.modal-input{
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-input:focus{
	border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
	fill: #4D5AE5;
}
.modal-form-content{
	margin-bottom: 8px;
}
.modal-icon{
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea{
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 16px;
	outline: transparent;
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus{
	border-color: #4D5AE5;
}
.modal-checkbox:checked {
	background-color: var(--ocean);
}
.modal-checkbox:checked + .check-label >.check-span {
	background-color: var(--ocean);
	border: none;
	fill: var(--cloud);
}
.modal-checkbox:focus + .check-label > .check-span{
	border-color: var(--ocean);
}



.inputs-content {
	position: relative;
}
.textarea-content {
	margin-bottom: 16px;
}




.check-content{
	margin-bottom: 24px;
}
.check-label{
	color: var(--lightslate);
	font-family: Roboto;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
}
.check-policy {
	color: #4d5ae5;
}
.check-span{
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}



.modal-btn{
	display: block;
	margin: 0 auto;
	min-width: 169px;
	height: 56px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	background-color: #4D5AE5;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus,
.modal-btn:hover
{
	background-color: #404BBF;
}



/**
	|============================
	| MOBILE-MENU
	|============================
*/



.menu .link {
	color: inherit;
	text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
	text-decoration: none;
}

.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
	margin-left: auto;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 25px;
	background-color: var(--white);
	z-index: 999;
	

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}



.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: auto;
}


.mobile-item {
	color: var(--navyblue);
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	display: block;
	text-decoration: none;
}
.mobile-item-studio{
	color: var(--ocean);
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	display: block;
	text-decoration: none;
}

.mobile-element:not(:last-child){
	margin-bottom: 40px;
}



.mobile-address {
	margin-bottom: 48px;
}

.mobile-address-list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}


.mobile-address-item-tel {
	color: var(--ocean);
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	font-style: normal;
}


.mobile-address-item {
	color: var(--slate, #434455);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.4px;
}






.mobile-info-list {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-info-list-item {
	height: 40px;
	width: 40px;
}
.mobile-icon-social:hover,
.mobile-icon-social:focus {
	background-color: #404bbf;
}

.mobile-icon {
	fill: var(--cloud);
}

.mobile-icon-social {
	background-color: var(--iris);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 100%;
}

/**
	|===================================================
	| MEDIA
	|===================================================
*/


/**
	|============================
	| Mobile
	|============================
*/

@media (max-width:427px){
	.mobile-address-item-tel {
		font-size: 21px;
	}
}

@media (max-width: 767px) {
	.menu {
		display: none;
	}
	.nav-list{
		display: none;
	}
		.address {
			display: none;
		}
}



@media (min-resolution: 192dpi) and (max-width:767px) {
	.intro {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)),
			url(../images/hero-bg/mobile-hero-bg-2x.jpg);
	}
}





/**
	|============================
	| TABLET
	|============================
*/
@media (min-width:768px){
	.menu-toggle {
			display: none;
		}
}


@media (min-width: 768px) and (max-width:1157px) {

	

	.container{
		max-width: 768px;
	}


	/**
		|============================
		| HEADER
		|============================
	*/

	.header{
		padding: 0;
	}
				.logo {
					margin-right: 120px;
				}

		.nav-list{
			display: flex;
			gap: 40px;
		}
	
		.nav-item {
			position: relative;
			color: var(--navyblue);
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.02em;
			padding: 24px 0;
			display: block;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	
		.nav-item:hover,
		.nav-item:focus {
			color: #404bbf;
		}
	
		.nav-item:active {
			color: var(--ocean);
		}
	
		.nav-item::after {
			position: absolute;
			color: var(--ocean);
			content: "";
			left: 0;
			opacity: 0;
			bottom: -1px;
			height: 4px;
			background-color: var(--ocean);
			border-radius: 2px;
			width: 100%;
		}
	
		.nav-item:hover::after,
		.nav-item:focus::after,
		.nav-item.current::after {
			opacity: 1;
		}
	
		.nav-item.current {
			color: #404bbf;
		}


		.address{
			font-style: normal;
			margin-left: auto;
		}

		.address-item{
			color: var(--slate);
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.32px;transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.address-item:hover,
		.address-item:focus{
			color: #404bbf;
		}
		.address-item:active{
			color: var(--ocean);
		}


		/**
			|============================
			| MAIN
			|============================
		*/


				.intro {
					background-image: linear-gradient(rgba(46, 47, 66, 0.7),
							rgba(46, 47, 66, 0.7)),
						url(../images/hero-bg/tablet-hero-bg.jpg);
				}

				.intro-content{
					gap: 36px;
				}


				.intro-title {
					font-size: 56px;
					min-width: 496px;
					height: 120px;
					line-height: 60px;
				}

				.advantages-subtitle{
					text-align: start;
				}
				.advantages-list{
					flex-direction: row;
					flex-wrap: wrap;
					gap: 72px 24px;
				}
				.advantages-item{
					width: calc((100% - 24px) / 2);
				}





				.team-list{
					flex-direction: row;
					flex-wrap: wrap;
					gap: 64px 24px;
				}
				.team-item{
					width: calc((100% - 24px) / 2);
				}




				.customers-list{
					flex-direction: row;
					flex-wrap: wrap;
					gap: 72px 24px;
				}

				.customers-item{
					width: calc((100% - 48px) / 3);
					height: 88px;
				}
				

				/**
					|============================
					| FOOTER
					|============================
				*/


				.footer-content{
					flex-direction: row;
					flex-wrap: wrap;
					gap: 72px 24px;
					justify-content: unset;
				}
				.footer-text {
					min-width: 264px;
				}
				.footer-logo{
					text-align: left;
				}
				.footer-social-text{
					text-align-last: left;
				}


				.subscribe{
					width: unset;
				}
				.subscribe-input{
					min-width: 264px;
				}
				.subscribe-form{
					flex-direction: row;
					justify-content: start;
				}
				.subscribe-title{
					text-align: unset;
				}

}



@media screen and (min-width:768px) and (max-width:1157px) {
	.team-content {
		max-width: 584px;
	}

	.customers-contant {
		max-width: 584px;
	}

	.footer-content {
		max-width: 584px;
	}

}

@media (min-resolution: 192dpi) and (min-width:768px) and (max-width:1157px) {
	.intro {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)),
			url(../images/hero-bg/tablet-hero-bg-2x.jpg);
	}
}

@media (max-width: 1157px) {
	.about {
		display: none;
	}

	.advantages-item-content {
		display: none;
	}
}



/**
	|============================
	| DESCTOP
	|============================
*/



@media (min-width:1158px) {
	.container{
		width: 1158px;
	}


	/**
		|============================
		| HEADER
		|============================
	*/

	
	.logo{
		margin-right: 76px;
	}

	.header{
		padding: 0;
	}

	.nav-list{
		display: flex;
		gap: 40px;
	}

		.nav-item {
			position: relative;
			color: var(--navyblue);
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.02em;
			padding: 24px 0;
			display: block;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	
		.nav-item:hover,
		.nav-item:focus {
			color: #404bbf;
		}
	
		.nav-item:active {
			color: var(--ocean);
		}
	
		.nav-item::after {
			position: absolute;
			color: var(--ocean);
			content: "";
			left: 0;
			opacity: 0;
			bottom: -1px;
			height: 4px;
			background-color: var(--ocean);
			border-radius: 2px;
			width: 100%;
		}
	
		.nav-item:hover::after,
		.nav-item:focus::after,
		.nav-item.current::after {
			opacity: 1;
		}
	
		.nav-item.current {
			color: #404bbf;
		}

	.address{
		margin-left: auto;
	}
	.address-list{
		display: flex;
		gap: 40px;
	}

		.address-item {
			color: var(--slate);
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-style: normal;
			line-height: 150%;
			letter-spacing: 0.32px;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	
		.address-item:hover,
		.address-item:focus {
			color: #404bbf;
		}
	
		.address-item:active {
			color: var(--ocean);
		}


	/**
		|============================
		| MAIN
		|============================
	*/


	.intro{
		background-image: linear-gradient(rgba(46, 47, 66, 0.7),
					rgba(46, 47, 66, 0.7)),
				url(../images/hero-bg/hero-image.jpg);
				padding: 188px 0;
	}

	.intro-title{
		color: var(--white, #FFF);
		font-family: 'Roboto', sans-serif;
		min-width: 496px;
		height: 120px;
		font-size: 56px;
		line-height: 60px;
		letter-spacing: 1.12px;
	}

.advantages{
	padding-top: 120px;
	padding-bottom: 0;
}
	.advantages-list{
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
	.advantages-item{
		width: calc((100% - 72px) / 4);
	}
	.advantages-subtitle{
		color: var(--navyblue);
		font-family: 'Roboto',sans-serif;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.4px;
		text-align: left;
		margin-bottom: 8px;
	}
	.advantages-text{
		color: var(--slate);
			font-family: 'Roboto',sans-serif;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.32px;
	}
		.advantages-item {
			width: calc((100% - 72px) / 4);
		}
	
		.advantages-item-content {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--cloud);
			padding: 24px 100px;
			margin-bottom: 8px;
			border-radius: 4px;
		}



	.about-content{
		padding: 120px 0;
	}
	.about-list{
		display: flex;
		gap: 24px;
		justify-content: center;
	}
	.about-title{
		color: var(--navyblue);
		text-align: center;
		font-family: 'Roboto',sans-serif;
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0.72px;
		text-transform: capitalize;
		margin-bottom: 72px;
	}




	.team-list{
		display: flex;
		align-items: center;
		gap: 24px;
		flex-direction: row;
	}
	.team-item{
		width: calc((100% - 72px) / 4);
	}

	

	.customers-contant{
		padding: 120px 0;
	}
	.customers-list{
		display: flex;
		gap: 24px;
		flex-wrap: nowrap;
	}
	.customers-item{
		width: calc((100% - 120px) / 6);
	}


	/**
		|============================
		| FOOTER
		|============================
	*/
	.footer{
		padding: 100px 0;
	}
	.footer-content{
		display: flex;
		flex-direction: unset;
		align-items: baseline;
		gap: 0;
	}
	.footer-text{
		max-width: 264px;
		height: 72px;
	}
	.footer-logo{
		text-align: left;
	}
	.footer-content-text{
		margin-right: 120px;
	}
	.footer-content-socials{
		margin-right: 80px;
	}


	
	.subscribe-title{
		text-align: left;
	}
	.subscribe-form{
		display: flex;
		flex-direction: unset;
		justify-content: unset;
	}
	.subscribe-label{
		max-width: 264px;
	}


}

@media screen and (min-width:1158px) {
	.header-content {
			max-width: 100%;
	}

	.advantages-content{
		max-width: 100%;
	}
	
	.team-content {
		max-width: 100%;
	}

	.customers-contant {
		max-width: 100%;
	}

	.footer-content {
		max-width: 100%;
	}

}

@media (min-resolution: 192dpi) and (min-width:1158px) {
	.intro {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)),
			url(../images/hero-bg/hero-image-2x.jpg);
	}
}













